/checkpoints_modified
.ipynb_checkpoints/
__pycache__/
.venv/
*.egg-info/
*.egg
**/NMSE_SNR30_LT_NEG25*.md
Model_AIIC_refactor/experiments_refactored/_analysis_md_local/
# TensorBoard logs
**/tensorboard/
**/tensorboard/**
**/events.out.tfevents.*
.github/